@font-face {
   font-family: "Proxima Nova";
   font-style: normal;
   font-weight: 400;
   src:local("Proxima Nova");
   src:url("Fonts/Proxima\ Nova/#b4b4b4");
}
body {
    background: black;
    margin-top: 50px;
 }
 .container {
    padding: 0;
    background: #464F53;
    width: 1200px;
    height: 900px;
    margin: auto;
    margin-top: 50;
    display: flex;
    flex-direction: column;
   align-items: center;
   align-self: center;
 }
 .text {
    width: 1060px;
    height: 752px;
    background: #FFFFFF;
    border: 2px solid red;
    margin: auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
   align-self: center;
   }
   .text1 {
      width: 807px;
      height: 513px;
      background: #FFFFFF;
      border: 2px solid red;
      margin: auto;
      margin-top: 203px;
      display: flex;
      flex-direction: column;
      align-items: left;
     align-self: center;
     }
     .text2{
      font-size: 20px;
      letter-spacing: 4px;
      color: #b4b4b4;
      font-family: "Proxima Nova"; 
     }
     .text4 {
      font-size: 30px;
line-height: 62px;
color: #8f8f8f;
font-style: italic;
font-family: "Georgia";
text-align: left;
     }

.head1 {
   box-sizing: border-box;
   margin: auto;
   width: 877px;
    height: 188px;
   background: black;
   border: 2px solid red;
   position: relative;
   top:-855px; left: 162px;
   
}
.head2 {
   box-sizing: border-box;
   margin: auto;
   width: 813px;
    height: 77px;
   background: #FBBF2D;
   border: 2px solid red;
   position: relative;
   top:-857px; left: 194px;
   
}